body {
  padding-top: 48px;
}

#menu-bar {
  z-index: 100;
  cursor: pointer;
  margin-top: 12px;
  cursor: pointer;
  margin-top: 12px;
  width: max-content;
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
}

.ProseMirror {
  outline: none;
}

a {
  cursor: pointer;
}

th {
  width: 96px;
}

table {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  width: 22em;
}

table td img {
  width: 220px;
  height: 329px;
}

td img {
  width: 100px;
}

td[colspan='2'] img {
  width: 100%;
  height: auto;
}

button:hover {
  background: rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  border-radius: 3px;
  background: transparent;
  cursor: pointer !important;
  font-size: 14px;
  padding: 4px 8px;
}

button.is-active {
  background: #285db6;
  color: white;
}

.floating-bar {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  /* padding: 4px 12px; */
}

.bubble-bar {
  position: fixed;
  left: 24px;
  top: 24px;
  background: white;
  font-size: 16px !important;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  /* margin-top: -30px; */
}

.mw-body {
  min-height: 100vh;
}

/* h1 { */
/*   margin-bottom: 24px; */
/* } */

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-caption {
  border: 1px solid black;
  width: 100px;
  height: 40px;
}

.del-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.del-icon-large {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.del-icon-large:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}

.del-icon:hover {
  background: red;
}

.mw-body {
  margin-left: 0 !important;
  border: 0 !important;
}

.mw-body-content {
  /* width: 70vw; */
  margin: 0 auto;
}

body {
  background: white !important;
  padding-top: 0px !important;
}

/* .sidebar-container { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   display: flex; */
/*   z-index: 5; */
/* } */

.mw-body-content h1 {
  margin-bottom: 0.5em !important;
}

table {
  font-size: 14px;
}

table p {
  margin: 0.2rem 0 !important;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row !important;
}

.items-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between;
}

.folder-del {
  visibility: hidden;
}

.folder:hover .folder-del {
  visibility: visible;
}

#content {
  width: 100%;
}

.folder:hover ._3dot {
  display: block !important;
}

/* ._3dot { */
/*   transform: rotate(90deg); */
/* } */

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  height: 60px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  background-color: #6851ff;
  cursor: pointer;
  transition: 0.2s;
  will-change: transform;
  box-sizing: border-box;
  will-change: transform, color, background-color, border-color;
  outline-width: 0;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.btn:hover {
  background-color: #4e3bdb;
  transform: scale(1.03);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 40%);
}

.justify-center {
  justify-content: center;
}

.oo-ui-tool-accel {
  display: none !important;
}

.navbarof {
  width: min-content;
}

.div-block-949 {
  width: 44px;
  max-width: 44px;
}

#content {
  margin-top: -78px;
}

.ProseMirror {
  padding-bottom: 600px;
}

#content {
  z-index: -1;
}

.div-block-861-copy-copy {
  z-index: 0;
}

.avablock-2.blj.w--current {
  background-color: #5685e0 !important;
}

body {
  /* font-size: 16px; */
}

.ProseMirror h1.is-editor-empty:first-child::before {
  content: 'Title';
  /* float: left; */
  color: black;
  opacity: 0.5;
  pointer-events: none;
}

.ProseMirror p.is-empty::before {
  /* content: 'Type something...'; */
  /* float: left; */
  color: black;
  opacity: 0.5;
  pointer-events: none;
}

.del-icon {
  visibility: hidden;
}

.image-wrapper:hover .del-icon {
  visibility: visible;
}

.img-actions {
  background: white;
  padding: 0px 4px;
  position: absolute;
  top: 6px;
  right: 12px;
  visibility: hidden;
  height: 26px;
}

.image-wrapper:hover .img-actions {
  visibility: visible;
}

.hover-ef {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-ef:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.thumbinner {
  cursor: grab;
}

.ProseMirror img {
  float: right;
  max-width: 222px;
  border: 1px solid #c8ccd1;
  padding: 3px;
  background: #f8f9fa;
  margin-left: 16px;
}

.fullscreen-mode img {
  max-width: initial;
}

.oo-ui-toolbar-bar {
  width: 100%;
}

.toolbar-wrapper {
  position: fixed;
  top: 0;
  width: 70vw;
  background: white;
  z-index: 1;
  padding: 12px 0;
}

.image-wrapper img {
  margin-left: 0;
  padding: 0;
  border: none;
  max-width: initial;
}
